.removeButton {
    background-color: red;
    border-style: none;
    border: none;
    width: 30px;
    height: 30px;
    transition: 1s;
}

.removeButton:hover {
    background-color: hsl(0, 100%, 70%);
    width: 25px;
    height: 25px;
}

.toggleButton {
    background-color: rgb(12, 104, 0);
    border-style: none;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}

.toggleButton:hover {
    background-color: hsl(121, 100%, 50%);
    border-style: none;
    width: 25px;
    height: 25px;
}

.toggleButton:active {
    background-color: hsl(121, 100%, 50%);
    border-style: none;
    width: 25px;
    height: 25px;
}

.tasks__contentDone {
    text-decoration: line-through;
}

.newTaskButton {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 11px;
    border-radius: 5px;
    transition: 1s;
}

.newTaskButton:hover {
    transform: scale(1.1);
}

.tasksButtons {
    color: teal;
    background-color: white;
    border-style: none;
    padding-right: 10px;
    transition: 1s;
}

.tasksButtons:hover {
    color: hsl(180, 100%, 40%);
}

.tasksDoneButton {
    color: rgb(182, 182, 182)
}