.form {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    padding: 10px;
}

.formTasks {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.formInput {
    width: 75%;
    padding: 10px;
}

.formListClass {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}