html {
    box-sizing: border-box;
}

*, *::after, ::before {
    box-sizing: inherit;
}

.body {
    
    max-width: 100%;
    background-color: #f3f3f3;
    font-size: 20px;
    padding: 35px;
    margin: 10px;


}

.cssForm {
    
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;

}

.container {

    padding: 20px;
    margin: 10px;
    width: 100%;
    padding: 30px;
    padding: 50px;
    background-color: white;
}

.cssForm--input {
    max-width: 100%;
}

.newTaskButton {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 3px;

}

.cssForm--header {
    font: bold;
    padding: 10px;

}

.listClass {
    justify-content: space-between;
    display: flex;

}


/* justify-content: space-between;
    display: flex; */