.tasks__contentDone {
    text-decoration: line-through;
}

.newTaskButton {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 11px;
    border-radius: 5px;
    transition: 1s;
}

.newTaskButton:hover {
    transform: scale(1.1);
}

.tasksButtons {
    color: teal;
    background-color: white;
    border-style: none;
    padding-right: 10px;
    transition: 1s;
}


.tasksButtons:hover {
    color: hsl(180, 100%, 40%);
}

.tasksDoneButton {
    color: rgb(182, 182, 182)
}

.tasks__item {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.hide {
    background-color: teal;
}

.tasksList {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.tasks__item {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.tasksHide {
    display: none;
}
